/docs/
/lib/
/bin/
/.shards/
*.dwarf
start_server
*.dwarf
*.local.cr
.env
/tmp/*
/public/css
/node_modules
yarn-error.log
./src/ts/node_modules
/containers/dev/secrets.yml
/containers/prod/secrets.yml
.ameba.yml
.env.spec
.lattice-cache/*
.lattice.*
app
vanilla_app
*.js
