@media (min-width: 700px) {
    :root {
        --error-color: #972411;
        --navbar-height: 5em;
    }
}

@media (max-width: 699px) {
    :root {
        --error-color: #972411;
        --navbar-height: 10em;
    }
    li.new-purchase {
        flex-direction: column;
    }

    nav,
    li {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
}

body {
    width: fit-content !important; /* Ensure child navbar spans entire width */
}

.sign_in {
    width: 100% !important;
}

main {
    overflow: auto;
    height: calc(100vh - calc(1 * var(--navbar-height)));
    width: calc(100vw);
    padding-block: unset !important;
}

main thead th {
    position: sticky;
    top: 0;
    z-index: 1;
}

main > h2 {
    text-decoration: underline;
}

ul > h4 {
    margin-bottom: 0;
}

ul > hr {
    margin-top: 0em;
    border-width: 0.1em;
    border-color: var(--pico-color-azure-750);
}

.top-navbar {
    background: linear-gradient(100deg, var(--pico-color-azure-800), var(--pico-color-azure-600));
    padding-left: var(--pico-nav-element-spacing-vertical);
    padding-right: var(--pico-nav-element-spacing-vertical);
    width: 100%;
    height: var(--navbar-height);
}

.top-navbar h1 {
    font-size: 3.6rem;
    font-weight: 700;
}

.top-navbar p {
    font-size: 1.2rem;
    font-weight: 400;
    opacity: 0.5;
}

li#sign_out_section {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}

li#sign_out_section::before {
    content: unset;
}

section.card {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

section.card > div {
    border-radius: 10%;
}

fieldset[role="group"] {
    padding: 1em;
    border: grey solid 1px;
}

details.purchase-item > span,
details.purchase-item > a {
    display: flex;
    flex-direction: column;
    margin-left: 1em;
}

li.new-purchase {
    display: flex;
}

li.new-purchase > a {
    margin-right: 1em;
}

.paid-bg {
    text-decoration-line: line-through;
}

.paid-bg > td {
    background-color: var(--pico-color-jade-600);
}

.flash {
    text-align: center;
    padding: 0.5rem;
    border-style: solid;
    border-width: 0.15em;
    border-radius: 0.5em;
    width: 100%;
    color: white;
}

.success {
    background-color: var(--pico-color-green-200);
}

.failure,
.error {
    background-color: var(--pico-color-red-550);
}

input:has(+ .error) {
    border-color: var(--error-color);
    color: var(--error-color);
    border-style: solid;
    border-width: 0.25rem;
}

.add-split {
    display: flex;
    justify-content: center;
}

.add-split > a {
    display: flex; /* Use flexbox for centering */
    width: 2.5rem; /* Width of the circle */
    height: 2.5rem; /* Height of the circle */
    border-radius: 50%; /* Make it circular */
    background-color: var(--pico-color-jade-600); /* Background color */
    text-decoration: none;
    background-position: 50% 50%;
    background-size: 50%;
    background-blend-mode: luminosity;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAi0lEQVRIS+2W0QmAMAxE7zZwFEfQkZzEkXSEjuIGEaEfbT80lmIs5H0Xjl5yRwgjaKTbmbCIDADG6FYgebx1rspqEZkAbFFsJrm78BNutQpfrn7jVDTSHVdrrfHBAiAoliNruCxOxdK0JhvJb4TT8v/Oai2e435zrMVn7DPWUHv62Jy3Laj6cQvMhE9nFXwfnzrtiAAAAABJRU5ErkJggg==");
}

.add-split > a:hover {
    background-color: var(--pico-color-jade-200);
}

td {
    vertical-align: center;
}

td > p {
    margin: 0;
}

tr > * > select {
    padding: 0.5em;
    margin: 0;
}

table {
    border-collapse: collapse;
    width: 100%;
}
th,
td {
    padding: 8px 16px;
}
th {
    background: #eee;
}

thead {
    height: var(--navbar-height);
}

.active {
    color: white;
    filter: brightness(0.05em);
    text-shadow: 0 0 1px #0ff, 0 0 1px #0ff, 0 0 1px #0ff, 0 0 1px #0ff;
}
