.content {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    background-color: var(--pico-color-jade-750);
    padding-left: var(--pico-nav-element-spacing-vertical);
    padding-right: var(--pico-nav-element-spacing-vertical);
}

.content h1 {
    font-size: 3.6rem;
    font-weight: 700;
}

.content p {
    font-size: 1.2rem;
    font-weight: 400;
    opacity: 0.5;
}

li#sign_out_section {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

li#sign_out_section::before {
    content: unset;
}

section.card {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

section.card > div {
    border-radius: 10%;
}
