main {
    padding-left: var(--pico-block-spacing-horizontal);
    padding-right: var(--pico-block-spacing-horizontal);
}

main > h2 {
    text-decoration: underline;
}

ul > h4 {
    margin-bottom: 0;
}

ul > hr {
    margin-top: 0em;
    border-width: 0.1em;
    border-color: var(--pico-color-azure-750);
}

.top-navbar {
    background-color: var(--pico-color-azure-750);
    padding-left: var(--pico-nav-element-spacing-vertical);
    padding-right: var(--pico-nav-element-spacing-vertical);
}

.top-navbar h1 {
    font-size: 3.6rem;
    font-weight: 700;
}

.top-navbar p {
    font-size: 1.2rem;
    font-weight: 400;
    opacity: 0.5;
}

li#sign_out_section {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

li#sign_out_section::before {
    content: unset;
}

section.card {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

section.card > div {
    border-radius: 10%;
}

fieldset[role="group"] {
    padding: 1em;
    border: grey solid 1px;
}

details.purchase-item > span,
details.purchase-item > a {
    display: flex;
    flex-direction: column;
    margin-left: 1em;
}

li.new-purchase > a {
    background-color: var(--pico-color-jade-500);
    padding: 1em;
    border-radius: 1.5em;
    color: white;
}

.paid-bg > td {
    background-color: var(--pico-color-jade-600);
}
